/* some default styles to make the view more native like */

html {
  box-sizing: border-box;
  /* Prevent the page to be scrollable */
  overflow: hidden;
  /* Force the default cursor, even on text */
  cursor: default;
}

body {
  background-color: rgba(255, 255, 255, 1);
  font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
  color: #222;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

select {
  background-color: transparent;
  -webkit-appearance: none;
  padding: 0 25px 0 10px;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  border: none;
  outline: none;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  min-width: 100%;

}

select:focus {
  -webkit-appearance: none;
}

.setting__select {
  flex: 1;
  position: relative;
  background-color: #fff;
}

.setting__select::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -1px;
}

.content {
  padding: 40px 30px 0;
}

.title {
  text-align: center;
  font-size: 22px;
  cursor: move;
  margin-bottom: 30px;
  text-align: left;
}

.setting__content {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
}

.setting__config {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
  overflow: hidden;
}

.img__preview {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.img__preview img {
  max-width: 100px;
  max-height: 100px;
}

.setting__item {
  display: flex;
}

.setting__label {
  line-height: 30px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  min-width: 4em;
}

.textarea {
  -webkit-appearance: none;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Consolas, Monaco, monospace;
  word-break: break-all;
  padding: 5px 10px;
  height: 200px;
  color: #444;
  resize: none;
  overflow: auto;
  white-space: pre;
}

.textarea:focus {
  -webkit-appearance: none;
  outline: none;
}

.action {
  text-align: right;
  margin-top: 10px;
}

.action__button {
  /* background-color: #FBFBFB; */
  border-color: rgba(0,0,0,0.1);
  color: #353535;
  display: inline-block;
  padding: 0 30px;
  min-width: 30px;
  line-height: 2;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  box-sizing: content-box;
}
.action__button:hover{
  background-color: #EFF0F2;
}
.action__button.weak{
  /* background-color: rgba(0,0,0,0.04); */
  /* color: #888; */
}
.action__button:active {
  background-color: #EFF0F2;
  color: #858585;
  border-color: #E4E8EB;
}

.output {
  position: relative;
  font-size: 0;
}

.output__loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.output__loading::before {
  content: '🕒';
  display: block;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.output__loading::after {
  content: "compressing...";
  display: block;
  font-size: 14px;
  color: #fff;
  width: 100%;
  text-align: center;
}
